@import "tailwindcss";

@theme {
  --color-black: #202020;
  --color-blue: #0c5ae9;
  --color-gray: #84929e;
  --color-sky: #00b0f0;
  --color-white: #ffffff;
  --font-sans:
    var(--font-inter),
    "Helvetica Neue", "Arial",
    var(--font-noto-sans-jp),
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    "sans-serif",
}

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .container {
    @apply mx-auto flex max-w-[1280px] flex-col gap-y-[64px] px-[16px] py-[64px] md:gap-y-[128px] md:px-[64px] md:py-[128px] xl:gap-y-[128px] xl:px-[128px] xl:py-[128px];
  }

  .hStack {
    @apply flex items-center gap-x-[16px];
  }

  .logo {
    @apply h-[48px] w-[176px] text-white;
  }

  .card {
    @apply w-full rounded-[16px] border-2 border-solid border-gray bg-white;
  }
  .card h2 {
    @apply mb-[24px] text-center text-2xl/[1.5] font-bold tracking-[0.125em] text-[#0C5AE9];
  }
  .card h3 {
    @apply mb-[24px] mt-[40px] text-xl/[1.5] font-bold text-[#0C5AE9];
  }
  .card p {
    @apply mb-[16px] text-base/[1.75] last:mb-0;
  }
  .card ol {
    @apply ml-[2rem] list-decimal;
  }
  .card li {
    @apply text-base/[1.75];
  }

  .button {
    @apply w-full rounded-[9999px] border-2 border-solid border-gray bg-white px-[32px] py-[16px];
  }

  .linkBox {
    @apply relative overflow-hidden;
  }

  .linkOverlay {
    @apply before:absolute before:inset-0 before:h-full before:w-full before:content-[""];
  }

  /* Welcome page styles */
  .header {
    @apply relative;
  }

  .header__wrapper {
    @apply fixed left-0 top-0 z-10 flex h-full w-full flex-col gap-8 overflow-y-auto bg-[#202020] py-16 px-4 text-white lg:w-1/4;
  }

  .header__toggle-button {
    @apply fixed left-0 top-0 z-10 cursor-pointer rounded-br-[16px] bg-[#00b0f0] p-4 shadow-[0_2px_8px_0_rgba(0,0,0,0.5)] transition-colors duration-300 ease-in-out hover:bg-[#71d9ff] lg:hidden;
  }

  .header__toggle-button--close {
    @apply absolute left-0 top-0 z-10 cursor-pointer rounded-br-[16px] bg-[#00b0f0] p-4 shadow-[0_2px_8px_0_rgba(0,0,0,0.5)] transition-colors duration-300 ease-in-out hover:bg-[#71d9ff] lg:hidden;
  }

  .menu {
    @apply rounded-2xl bg-[#404040] overflow-hidden;
  }

  .menu__item {
    @apply flex flex-grow items-center gap-4 p-4 hover:bg-[#606060];
  }

  .menu__item--join-us {
    @apply justify-center gap-2 bg-[#00b0f0] transition-colors duration-300 ease-in-out hover:bg-[#71d9ff];
  }

  .pv {
    @apply relative h-screen w-full md:aspect-video md:h-auto md:max-h-screen;
  }

  .pv__media {
    @apply absolute inset-0 h-full w-full bg-black object-cover text-white;
  }

  .pv__scroll-nav {
    @apply absolute bottom-16 right-0 flex items-center gap-4 rounded-l-2xl bg-[#00b0f0] p-4 text-white shadow-[0_2px_8px_0_rgba(0,0,0,0.5)] transition-colors duration-300 ease-in-out [writing-mode:vertical-lr] hover:bg-[#71d9ff];
  }

  .about-us {
    @apply grid md:grid-cols-[3fr_1fr];
  }

  .about-us__section {
    @apply bg-[#00b0f0] p-8 text-white;
  }

  .about-us__section > * + * {
    @apply mt-8;
  }

  .about-us__section > h2 {
    @apply mb-8 text-2xl font-bold leading-tight tracking-normal [font-feature-settings:'palt'] md:text-3xl;
  }

  .about-us__content * {
    @apply leading-[1.5];
  }

  .about-us__content * + * {
    @apply mt-2;
  }

  .about-us__content a:any-link {
    @apply font-bold text-inherit hover:underline;
  }

  .about-us__content a:any-link > svg {
    @apply relative top-0.5 inline-block h-4 w-4;
  }

  .about-us__img {
    @apply h-full w-full bg-[#404040] object-cover;
  }

  .teams {
    @apply bg-white p-8 text-black;
  }

  .teams > * + * {
    @apply mt-8;
  }

  .teams > h2 {
    @apply mb-8 text-2xl font-bold leading-tight tracking-normal [font-feature-settings:'palt'] md:text-3xl;
  }

  .teams__content * {
    @apply leading-[1.5];
  }

  .teams__content * + * {
    @apply mt-2;
  }

  .teams__content a:any-link {
    @apply font-bold text-[#005aff] hover:underline;
  }

  .teams__content a:any-link > svg {
    @apply relative top-0.5 inline-block h-4 w-4;
  }

  .teams__wrapper {
    @apply grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3;
  }

  .teams__card {
    @apply relative aspect-video overflow-hidden rounded-2xl bg-black text-white;
  }

  .teams__card a::before {
    @apply absolute inset-0 h-full w-full content-[''];
  }

  .teams__card img,
  .teams__card-image {
    @apply absolute inset-0 h-full w-full object-cover transition-all duration-300 ease-in-out;
  }

  .teams__card a:hover img,
  .teams__card a:hover .teams__card-image {
    @apply scale-125 brightness-75;
  }

  .teams__card h3 {
    @apply absolute bottom-0 left-0 right-0 flex items-center gap-2 rounded-tr-2xl bg-black/50 p-4 text-xl font-bold leading-tight backdrop-blur-sm [font-feature-settings:'palt'];
  }

  .teams__card h3 > svg {
    @apply h-4 w-4;
  }

  .faq {
    @apply bg-[#e9e9e9] p-8 text-black;
  }

  .faq > * + * {
    @apply mt-8;
  }

  .faq > h2 {
    @apply mb-8 text-2xl font-bold leading-tight tracking-normal [font-feature-settings:'palt'] md:text-3xl;
  }

  .faq__wrapper {
    @apply grid gap-8;
  }

  .faq__card {
    @apply rounded-2xl bg-white p-8;
  }

  .faq__card > h3 {
    @apply mb-4 text-xl font-bold leading-tight tracking-normal [font-feature-settings:'palt'];
  }

  .faq__card > h3 + * {
    @apply mt-4;
  }

  .faq__content * {
    @apply leading-[1.5];
  }

  .faq__content * + * {
    @apply mt-2;
  }

  .faq__content a:any-link {
    @apply font-bold text-[#005aff] hover:underline;
  }

  .faq__content a:any-link > svg {
    @apply relative top-0.5 inline-block h-4 w-4;
  }

  .faq__content-table {
    @apply [font-feature-settings:'tnum'];
  }

  .faq__content-table > thead > tr > th {
    @apply border border-[#404040] p-4 text-center font-bold leading-tight;
  }

  .faq__content-table > tbody > tr:nth-child(2n - 1) {
    @apply bg-[#e9e9e9];
  }

  .faq__content-table > tbody > tr:nth-child(2n) {
    @apply bg-white;
  }

  .faq__content-table > tbody > tr > td {
    @apply border border-[#404040] p-4;
  }

  .join-us {
    @apply grid md:grid-cols-[3fr_1fr];
  }

  .join-us__section {
    @apply bg-[#404040] p-8 text-white;
  }

  .join-us__section > * + * {
    @apply mt-8;
  }

  .join-us__section > h2 {
    @apply mb-8 text-2xl font-bold leading-tight tracking-normal [font-feature-settings:'palt'] md:text-3xl;
  }

  .join-us__content * {
    @apply leading-[1.5];
  }

  .join-us__content * + * {
    @apply mt-2;
  }

  .join-us__content a:any-link {
    @apply font-bold text-inherit hover:underline;
  }

  .join-us__content a:any-link > svg {
    @apply relative top-0.5 inline-block h-4 w-4;
  }

  .join-us__button {
    @apply flex items-center justify-center gap-0 bg-[#00b0f0] p-16 text-xl font-bold leading-tight text-white transition-colors duration-300 ease-in-out [font-feature-settings:'palt'] hover:bg-[#71d9ff];
  }

  .join-us__button > * + * {
    @apply mt-8;
  }

  .join-us__button > svg {
    @apply h-4 w-4;
  }

  .footer {
    @apply bg-[#202020] p-4 text-center text-white;
  }

  .body {
    @apply flex min-h-screen flex-col lg:ml-[25%];
  }

  .body > main {
    @apply flex-grow;
  }
}
